<div class="flex flex-col">
  <div class="flex flex-col block">
    <h1>New power supply</h1>
  </div>

  <div class="flex flex-col block">
    <%= render "form", power_supply: @power_supply %>
  </div>

  <div class="flex flex-col block">
    <%= link_to "Back to power supplies", power_supplies_path %>
  </div>
</div>
